<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="group0">
            <h2><span>Group 0</span> {{group0.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nickname</span></dt>
                <dd>
                    <span>{{group0.nickname}}</span>
                </dd>
                <dt><span>Album</span></dt>
                <dd>
                    <div *ngIf="group0.album">
                        <a [routerLink]="['/album', group0.album?.id, 'view']">{{group0.album?.title}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/group-0', group0.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
